html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  /* font-size: 1rem; */
  font-size: 16px;
  /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
  scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: 'Gilroy', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

a {
  text-decoration: none;
  color: #FFF;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
  outline: 0;
  border: none;
}

button:hover{
  cursor: pointer;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/*****************/

@font-face {
  font-family: "Gilroy";
  src: url('./fonts/Gilroy/Gilroy-Light.ttf') format('truetype'); 
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url('./fonts/Gilroy/Gilroy-Regular.ttf') format('truetype'); 
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url('./fonts/Gilroy/Gilroy-Medium.ttf') format('truetype'); 
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url('./fonts/Gilroy/Gilroy-Bold.ttf') format('truetype'); 
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

/********************/

:root {
  --global-primary-text-color:#1D252D;

  --global-breakpoint-mobile-large:425px;
  --global-breakpoint-tablet:768px;
  --global-breakpoint-laptop:1024px;
  --global-breakpoint-laptop-large:1440px;
  --global-breakpoint-desktop:2560px;

  /* --global-scale-factor: calc(1280 / 1680); */
  --global-scale-factor-desktop: calc(1680 / 100);
  --global-scale-factor-mobile: calc(360 / 100);

  /* --global-section-hori-padding: calc(var(--global-scale-factor) * 210px); */
  /* --global-section-hori-padding: calc(210vw / var(--global-scale-factor)); */
  /* --global-section-hori-padding: 12vw; */
}

.section {
  display: flex;
  flex-direction: column-reverse;
}

.sectionPadding {
  padding: 0 calc(20vw / var(--global-scale-factor-mobile));
}
.heading{
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
}

/* CUSTOM CSS FOR GIPHY */

@keyframes animateGiphyOnHover {
    0%   {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1)
    }
    50%  {
      -webkit-transform: scale(2);
      -moz-transform: scale(2);
      -o-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2)
    }
    100%  {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1)
    }
  }
  
  /* .giphy__item:hover {
    left: 50px;
    top: 50px;
    background-color: #EEE;
    animation-name: animateGiphyOnHover;
    animation-duration: 5s;
    animation-iteration-count: 2;
  } */
  
@media only screen and (max-width : 480px) {
  html, body{
    font-size: 9px;
  }
}